:root{ /*so that when we change theme, we can easily change the colors here*/
    --mainColor: #030929;
    --secondaryColor: rgb(28, 32, 62);

    --borderColor: #5d88ac;


    --mainText:#fff; /*variable to use across the site*/
    --secondaryText: #fff7d0; 

    --themeDotBorder: rgb(140, 206, 239); 

    --previewBg: rgba(7, 35, 53, 0.804);
    --previewShadow: #07162e; 

    --buttonColor: rgb(44, 163, 227);
} 
