:root{ /*so that when we change theme, we can easily change the colors here*/
    --mainColor: #1f6f78;
    --secondaryColor: #118a7e;

    --borderColor: #93e4c1;


    --mainText:#081d1f; /*variable to use across the site*/
    --secondaryText: #fff7d0; 

    --themeDotBorder: rgb(140, 239, 155); 

    --previewBg: rgba(147, 228, 193, 0.511);
    --previewShadow: #175259; 

    --buttonColor: #3baea0;
} 

a{
    text-decoration: none;
    color: #fff7d0
}