:root{ /*so that when we change theme, we can easily change the colors here*/
    --mainColor: #021801;
    --secondaryColor: rgb(29, 62, 28);

    --borderColor: #4d924d;


    --mainText:#fff; /*variable to use across the site*/
    --secondaryText: #fff7d0; 

    --themeDotBorder: rgb(140, 239, 155); 

    --previewBg: rgba(6, 59, 23, 0.804);
    --previewShadow: #042009; 

    --buttonColor: rgb(11, 117, 19);
} 
