:root{ /*so that when we change theme, we can easily change the colors here*/
    --mainColor:  #3e0b4d;
    --secondaryColor: #4f0474;

    --borderColor: rgb(207, 135, 240);


    --mainText:#fff; /*variable to use across the site*/
    --secondaryText: #fff7d0; 

    --themeDotBorder: rgb(207, 135, 240); 

    --previewBg: rgba(197, 129, 218, 0.804);
    --previewShadow: #825293; 

    --buttonColor: rgb(78, 5, 96);
} 