:root{ /*so that when we change theme, we can easily change the colors here*/
    --mainColor:  #513252;
    --secondaryColor: #5c324f;

    --borderColor: #943a5a;


    --mainText:#FFC18E; /*variable to use across the site*/
    --secondaryText: #f6e5e5; 

    --themeDotBorder: #943a5a; 

    --previewBg: rgba(148, 58, 89, 0.703);
    --previewShadow: #FFC18E; 

    --buttonColor: #943a5a;
} 

li{
    color: #513252;
}

#preview{
    border: 1.5px solid var(--mainColor);
}

.corner{
    border: 1.5px solid var(--mainColor);
}

a{
    text-decoration: none;
    color: #f6e5e5
}
